@import url(https://fonts.googleapis.com/css2?family=Open+Sans);

header {
    display: flex;
    width: 90%;
    height: 2rem;
    margin: 1rem 2rem 2.5rem 2rem;
    justify-content: flex-end;
}

header img {
    height: 1.5rem;
    user-select: none;
    -webkit-user-drag: none;
}

header * {
    cursor: pointer;
}

.interface {
    overflow: hidden;
    display: flex;
}

.interface > div {
    display: flex;
    align-items: center;
}

.interface > div > label {
    transition: 1s;
    color: transparent;
    transform: translate(100%, 0px);
}
@media screen and (width < 800px) {
    .interface > div > label {
        display: none;
    }
    .interface img {
        height: 2rem;
    }
}
@media screen and (width >= 800px) {
    .interface {
        flex-direction: column;
        align-items: flex-end;
    }
    .interface > div:hover label {
        color: black;
        transform: translate(0vw, 0px);
        display: block;
    }
}

.interface > div * {
    margin: 0.4rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    /* height: ; */
    transform: translate(-6px);
    overflow: hidden;
}

body {
    display: grid;
    font-family: "Open Sans", sans-serif;
    background: radial-gradient(closest-side, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 100%);
}

.button {
    cursor: pointer;
    padding: 0.25rem 1rem;
    letter-spacing: -0.1px;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: #27a961;
    color: #fdfdf6;
    margin: 1rem;
    text-align: center;
}

.button.calm {
    background-color: #bed6ee;
    color: #000000;
}

.wordRow {
    transition: 2s;
}

.wordRow > input::selection {
    background-color: transparent;
    color: #a4bcda;
}

.wordRow.disabled > input {
    cursor: not-allowed;
    border: 2px solid #cbcbcb;
    opacity: 100%;
}

.wordRow > input:focus {
    background-color: #ecf8ff;
}

.wordRow > input {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    outline: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    border: 2px solid #a0a0a0;
    border-radius: 0.5rem;
    caret-color: transparent;
    background-color: #ffffff;
    margin: 0rem 0.1rem;
}

.wordsColumn > .wordRow {
    margin: 0.1rem;
}

.disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: 50%;
}

.message {
    font-size: 0.9rem;
    opacity: 0%;
    user-select: none;
    z-index: 100;
}
.message.won {
    color: #46c726;
    font-size: 2rem;
    opacity: 0%;
}
.message.error {
    color: #c72626;
}

.message.go {
    display: block;
    animation: messageFadeIn 2s cubic-bezier(0.4, 0, 0, 1);
}
.message.won.push {
    opacity: 100%;
    transition: all 0.5s 2s;
    transform: translate(0rem, -15rem) rotate(-45deg);
}
.message.push {
    display: block;
    opacity: 100%;
    transition: 2s;
    animation: messageFadeIn 2s cubic-bezier(0.4, 0, 0, 1);
}

.description {
    color: #bdbdbd;
    font-size: 0.8rem;
    max-width: 18rem;
    font-style: italic;
    text-align: center;
}

@keyframes messageFadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.true_position_char {
    transition: background 2s;
    text-transform: lowercase;
    --local-clr-: #49f21e;
    background-color: var(--local-clr-) !important;
    border-color: var(--local-clr-) !important;
    color: #ffffff !important;
    animation: flip-card 2s;
}
.is_exists_char {
    --local-clr-: #ffd500;
    text-transform: lowercase;
    background-color: var(--local-clr-) !important;
    border-color: var(--local-clr-) !important;
    color: #ffffff !important;
    animation: flip-card 2s;
    transition: background 2s;
}
.default_char {
    --local-clr-: #4f4f4f;
    text-transform: lowercase;
    background-color: var(--local-clr-) !important;
    border-color: var(--local-clr-) !important;
    color: #ffffff !important;
    animation: flip-card 2s;
    transition: background 2s;
}

@keyframes flip-card {
    0% {
        transform: rotate3d(1, 0, 0, 179deg);
    }
    20% {
        transform-origin: 50% 25%;
    }
    100% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
}

/* loader */

loader {
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(closest-side, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 100%);
}

loader > span {
    display: flex;
    width: 10rem;
    height: 5rem;
    background-color: #44c57c;
    animation: loading 2s infinite;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: white;
}

@keyframes loading {
    0% {
        transform-origin: 50% 50%;
        transform: rotate3d(1, 1, 1, 0deg) perspective(100px);
    }
    50% {
        transform: rotate3d(1, 1, 1, 180deg) perspective(600px);
        height: 10rem;
        border-radius: 100%;
    }
    60% {
        border-radius: 20%;
        transform: rotate3d(1, 1, 1, 0deg) perspective(100px);
    }
    100% {
        transform: rotate3d(1, 1, 1, 0deg) perspective(600px);
    }
}

.oror {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

@media screen and (width >= 800px) {
    .oror > .l:hover,
    .oror > .r:hover {
        transform: rotate(0deg) scale(105%);
    }
    .oror > .l,
    .oror > .r {
        transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
    }
    .oror > .l {
        transform: rotate(-10deg) translate(-20px, 20px);
    }
    .oror > .r {
        transform: rotate(10deg) translate(20px, 20px);
    }
}

@media screen and (width < 800px) {
    .oror {
        align-items: center;
        flex-direction: column;
    }
}

.oror > .m {
    font-size: 2rem;
    color: #acacac;
}

.oror > * {
    text-align: center;
    margin: 5vw;
}

.oror > * > .title {
    color: #656565;
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-align: center;
    margin: 3vw 0rem;
    max-width: 15rem;
}

input {
    padding: 0.5rem;
    border: 2px solid #a0a0a0;
    outline: none;
    caret-color: #787878;
    font-size: 1.08rem;
    border-radius: 0.5rem;
}

a {
    display: block;
    width: 2rem;
    text-align: center;
    text-decoration: none;
}

info:hover {
    opacity: 1;
}

info {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    display: block;
    height: 2rem;
    width: 2rem;
    padding: 0px;
    margin: 0px;
    left: -2rem;
    top: -2rem;
    transition: all 1s;
}

info img {
    user-select: none;
    -webkit-user-drag: none;
    height: 1.8rem;
}

info label {
    font-size: 0.9rem;
    /* white-space: pre; */
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.keyboard > .line {
    display: flex;
}

.keyboard > .line > .char {
    opacity: 50%;
    color: #000000;
    font-size: 1.1rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    width: 1.2rem;
    height: 1.8rem;
    text-align: center;
    margin: 0.2rem;
}
